body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    margin: 0;
    
    font-weight: 300;
    color: #191919;

}
.page{
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
}



.container {
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0 auto;

}

* {
    box-sizing: border-box;
}

section{
    margin-bottom: 130px;
}

/*header*/


.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;


    margin: 0 auto;
    background-color: transparent;

}

.header_top_left {
    display: flex;
    align-items: center;
}

.header_top_right {
    display: flex;
    align-items: center;
}


.header_address {
    padding: 18px 25px 19px 0;

}



.header_hours {
    padding: 16px 0;

}

.header_icon {
    padding-right: 7px;
}

.header_phone {
    padding: 18px 0 19px;
}

.header_callback {
    padding: 23px 0 23px 25px;
    font-size: 14px;

}

/*header_bottom*/

.header_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 484px;
    height: auto;

    position: relative;
    top: 0;
    left: 0;
}

.bottom_logo{
    width: 100%;
    max-width: 160px;
    height: auto;
    margin: 0 auto;
}

.nav_item {
    text-decoration: none;

    text-transform: uppercase;
    color: #707070;
}

.bottom_rh{
    display: flex;
    justify-content: right;

    width: 100%;
    max-width: 483px;
    height: 100%;


    align-items: center;
}

.search {
    padding-right: 40px;
}

.user{
    padding-right: 25px;
}


/*services*/
.services {
    display: flex;
    justify-content: space-between;

    padding: 21px 0 0;

    width: 100%;
    max-width: 564px;
    margin: 0 auto;
}

.services_item{
    border: 1px solid ;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;

    
    padding: 17px 0;

    width: 100%;
    max-width: 180px;
    height: auto;

    text-transform: uppercase;
    transition: background-color 0.3s linear;

}
.services_item:hover{
    background-color: #F5F5F5;

}

/*about*/

.about {
    display: block;
    margin-top: 30px;
    position: relative;

}

.about_main{
    display: flex;
    
    font-size: 12px;
    padding-bottom: 20px;

}
.main_title{
    color: #707070;
}
.main_info{
    color: #C4C3C3;
    
}
.about_pict{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
/*
.about_pict {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 734px;
    margin: 0 auto;
    position: relative;

    background: url('../img/about/background.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
*/
.about_pict_inner{
    position: relative;
    width: 80%;
    max-width: 728px;

}
.about_info{
    position: absolute;
    top: -200px;
    left: 0;

}
.about_title {
    font-weight: 600;
    font-size: 36px;
    color: #fff;


}
.about_text{
    color: #fff;
    padding-top: 45px;

}

/*why us*/

.why_us {
    display: block;
}
.why_us_inner{
    width: 100%;
    max-width: 745px;
}
.why_suptitle{
    color: #C4C3C3;
    padding-top: 100px;

    text-transform: uppercase;
}

.why_title{
    font-weight: 600;
    font-size: 36px;

    padding-top: 10px;


}
.why_info_top{
    font-weight: 200;
    padding-top: 40px;

}
.why_list{
    padding-top: 20px;
}

.why_list_item {
    margin: 0;
}
.why_choice{
    padding-top: 20px;
}

/*why_imgs*/

.why_imgs {
    display: flex;
    padding-top: 60px;
    
    position: relative;
}
.img_l{
    width: 30%;
    max-width: 572px;
    height: auto;

    position: relative;
    left: 0;
    bottom: 0;
}
.img_l img{
    
    border-radius: 5px;
}

.why_console{
    width: 25%;
    max-width: 383px;
    height: auto;
    max-height: 480px;

    margin-left: 17px;

    background-color: #F5F5F5;
    
    border-radius: 5px;

}
.console_inner{
    margin: 0 auto;
    
    width: 100%;
    max-width: 255px;
    position: relative;
}

.console_item{
    text-align: left;;
    padding-top: 30px;
}

.console_item:first-child{
    padding-top: 40px;
}

.console_num{
    font-weight: 600;
    font-size: 36px;

    padding-bottom: 5px;

}

.console_info{
    font-weight: 400;
    color: #626262;
}
.btn{
    font-weight: 400;
    color: #fff;
    background-color: #191919;

    text-decoration: none;
    border-radius: 50px;

    padding: 24px 42px;

    position: absolute;
    bottom: -80px;
    
    transition: background-color .3s linear;
}
.btn:hover{
    background-color: #707070;
    color: #fff;
}

.img_r {
    width: 36.5%;
    max-width: 699px;
    height: auto;

    position: absolute;
    right: 0;
    top: -257px;

}
.img_right{
    width: 100%;
    max-width: 699px;
    height: auto;
    
    border-radius: 5px;

}

.img_r_info{
    position: relative;
    top: -173px;
    left: 54px;

    color: #fff;

}
.img_r_num{
    font-weight: 600;
    font-size: 36px;

    padding-bottom: 7px;
}

.img_r_text{
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.img_r_text:after{
    display: block;

    content: "";
    background-color:#DDDADA ;
    width: 470px;
    height: 1px;
    position: absolute;
    left: -166px;
    bottom: -26px;


}

/*about_us*/
.about_us{
}

.about_us_inner{
    display: flex;
    justify-content: space-between;
}

.about_us_l{
    width: 41%;
    max-width: 618px;
    height: auto;

}

.about_us_l_title{
    font-weight: 600;
    font-size: 36px;

}

.about_us_l_text{
    font-size: 20px;
    color: #626262;

    padding-top: 25px;
}


.about_us_r{
    
    width: 49%;

}

/*brands*/

.brands {
    display: block;
}

.brands_title{
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 12px;

    border-bottom: 1px solid #DDDADA ;
}
.brands_logo {
    display: flex;
    justify-content: flex-end;
}
.brands_logo_item{
    padding-left: 20px;
    padding-top: 40px;  
}
.logo {
    width: 100%;
    max-width: 380px;
    height: auto;
}


/*description*/

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #F5F5F5;
}

.desc_info{
    width: 50%;
    max-height: 700px;
    height: auto;
    display: block;

    padding-left: 210px;

}
.desc_info_inner{    
    width: 100%;
    max-width: 647px;
    max-height: 700px;
}
.desc_info_top{
    

}
.desc_info_bottom{
    font-size: 20px;
    padding-top: 50px;

}

.desc_pict {
    width: 50%;
    max-width: 950px;
    height: auto;
    max-height: 700px;
    position: relative;
    right: -5px;

}

/*benefis*/

.benefits {
}

.benefits_inner{    
    display: flex;
    justify-content: space-between;
}

.benefits_item {
    text-align: center;
    width:30% ;

}

.benefits_logo{
    padding-bottom: 30px;
}

.benefits_title{
    font-weight: 600;
    font-size: 24px;

    padding-bottom: 12px;

}

/*consult*/
section.consult{
    margin: 0;

}

.consult{
    display: flex;
    flex-wrap: nowrap;


}

.consult_img {
    width: 51%;
    max-width: 970px;
    max-height: 700px;
    height: auto;


}

.consult_r{    
    width: 50%;
    max-width: 950px;
    max-height: 700px;
    height: auto;
    background-color: #202020;
    

}
.consult_request{
    
    width: 80%;

    display: block;
    padding: 98px 0 0 145px;

}

.consult_title{
    width: 100%;

    font-weight: 600;
    font-size: 36px;

    color: #fff;

}
.consult_subtitle{
    color: #959595;
    font-size: 14px;
    width: 100%;
    max-width: 80%;

    padding-top: 20px;
    padding-bottom: 65px;
}
.consult_form{
    width: 100%;
    height: auto;
}

.consult_line{    
    display: block;
    border: none;
    border-bottom: 1px solid #636363;

    width: 100%;
    max-width: 362px;
    height: 100%;
    max-height: 34px;
    margin-bottom: 30px;
    
    color: #fff;
    background-color: transparent;

    font-size: 16px;
}
.consult_line::placeholder{
    color: #fff;
}
.consult_line.name{

    border-bottom: 1px solid #fff;
}
.consult_line.phone::placeholder{

    color: #636363;
}

.consult_btn{
    background-color: #fff;
    color: #191919;
    font-size: 16px;

    border-radius: 50px;
    width: 100%;
    max-width: 362px;
    height: 60px;

    margin-top: 54px;
    margin-bottom: 16px;
}

.consult_info {
    font-size: 10px;
    color: #575757;

    width: 100%;
    max-width: 362px;
    height: 60px;
}
.section.consult{
    margin-bottom: 0;
}

/*footer*/
.footer{
    display: block;
    padding-top: 60px;
    background-color: #191919;

    font-size: 14px;
}
.footer_logo{
    padding-bottom: 35px;
}
.footer_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer_item{
    width: 33.33%;

    display: block;
    font-size: 14px;
    color: #fff;

    align-items: center;

    padding-bottom: 50px;

}
.payments{
    width: 100%;
    max-width:345px ;
    height: auto;
    padding-bottom: 25px;
}
.delivery{
    width: 100%;
    max-width: 218px;
    height: auto;
}
.footer_item_border{
    padding-top: 50px;
    border-top: 1px solid #fff;
    opacity: 0.4;
}
.footer_title{
    font-weight: 600;
    color: #fff;
    
    padding-bottom: 10px;
}
.footer_map{
    display: flex;
    
    padding-bottom: 15px;

}
.footer_icon {
    padding-right:7px;

}
.scedule{
    display: flex;
}
.scedule_logo{
    padding-right: 7px;
}

.footer_contacts{
    display:flex;
}

.contacts__phone_logo{
    padding-right: 7px;
}
.contacts_phones a{
    color: #fff;
    opacity: .4;
}

.footer_social {
    display: flex;
    padding-bottom: 32px;
}
.social_logo{
    padding-right: 8px;
}

.social_logos{
    display: flex;

}
.vk1{
    padding-right: 18px;
}
.footer_links{
    text-decoration: none;
    text-transform: uppercase;

    padding-bottom: 15px;

    
    display: block;
    color: #fff;
}


.rights{
    display: flex;
    justify-content: space-between;

    font-size: 12px;
    opacity: .4;
    color: #fff;
    opacity: 0.4;
    padding-bottom: 60px;

}

.rights_item{
    width: 33.33%;
}

@media (max-width: 1920px){
    .console_item {
        padding-top: 20px;
    }
    
    .console_num{
        font-size: 28px;   
    }
}

@media (max-width:1500px) {

    /*descrition*/
    .desc_info{
        padding: 0;
    }

    /*consult*/
    .consult_request{
        padding: 60px 0 0 80px;
    }

    /*why_us*/
    .console_item:first-child{
        padding-top: 10px;
    }
    .console_item{
        padding-top: 10px ;
    }

    .img_r_info{
        top: -140px;
        
    }
    .img_r_num{
        font-size: 26px;
    }
    
    .img_r_text{
        font-size: 16px;
    }
    .img_r_text:after{
        width: 360px;
        left: -100px;
        bottom:-15px;

    }
    .about_title{
        font-size: 28px;
        
    }
    .about_text{
        padding-top: 25px;
    }

}

@media (max-width:1300px){

    body{
        font-size: 14px;
    }
    .about_us_l_title{
        font-size: 28px;

    }
    .about_us_l_text{
        font-size: 16px;
    }
    .about_info{
        top: -150px;
    }
    .why_title{
        font-size: 28px;
    }
    .console_item:first-child{
        padding-top: 15px;

    }
    .console_item{
        padding-top: 5px;
        padding-left: 30px;
    }
    .console_num{
        font-size: 20px;
    }
    .console_info{
        font-size: 12px;
    }
    .btn{
        padding: 15px 15px;
        
        bottom: -60px;
    }

    .brands_title{
        font-size: 28px;
    }
    .logo{
        max-width: 270px;
    }

    .desc_info_bottom{
        font-size: 14px;
        padding-top: 30px;
    }
    .desc_info_top{
        font-size: 12px;
    }
    .benefits_title{
        font-size: 20px;
    }
    
    .consult_title{
        font-size: 28px;

    }
    .consult_btn {
        margin-top: 0;
    }
    .consult_subtitle{
        max-width: 100%;
        padding-bottom: 30px;
    }


    .footer{
        font-size: 12px;
    }
    .footer_item {
        font-size: 10px;
    }
    .payments{
        max-width:270px ;
    }
    .delivery{
        max-width: 180px;
    }
    .rights{
        font-size: 10px;
    }
}

@media (max-width:990px) {
    body{
        font-size: 12px;
    }
    
    section{
        margin-bottom: 70px;
    }
    section.why_us{
        margin-bottom: 0;
    }
    .center{
        display: none;
    }
    .about_pict_inner{
        max-width: 680px;
        margin: 0 auto;
    }
    .about_info{
        margin: 0 auto;
        top: -130px;
    }
    .about_title{
        font-size: 22px;
    }
    .about_us_inner{

        justify-content: center;
    }
    .search{
        display: none;
    }
    .why_suptitle{
        padding-top: 60px;
    }
    .why_us_inner{
        margin: 0 auto;
        max-width: 680px;
    }
    
    .why_imgs{
        flex-wrap: wrap;
        justify-content: center;
    }
    .img_l{
        width: 35%;
        position: static;
    }
    .why_console{
        width: 35%;
    }
    .img_r {
        width: 72%;
        top: -160px;
        position: static;
        margin: 20px auto;
    }

    .console_num{
        font-size: 16px;
    }
    .btn{
        padding: 10px 10px;
        font-size: 12px;
    }
    .consult_title{
        font-size: 20px;
    }


}

@media (max-width:770px) {
    /*header*/
    .header_bottom{
        display: block;
        margin: 0 auto;

    }
    .nav{
        margin: 0 auto;
    }
    .bottom_logo{
        padding: 20px 0;
    }
    .bottom_rh{
        
        justify-content: center;
        margin: 0 auto;
    }
    

    /*consult*/
    .consult {
        flex-wrap: wrap;
    }
    .consult_img{
        width: 100%;
        margin: 0 auto;

    }
    .consult_r{
        width: 100%;        
        margin: 0 auto;

    }
    .consult_request{
        width: 100%;
        padding: 20px 0 0;
        margin: 0 auto;
        
        max-width: 460px;
    
    }
    .consult_subtitle{
        width: 100%;
    }

    /*description*/

    .description{
        flex-wrap: wrap;

    }
    .desc_info{
        width: 100%;
    }
    .desc_info_top{
        padding-top: 15px;
    }
    .desc_pict{
        width: 100%;
        right: 0;
        padding-top: 30px;
    }
    .img_r{
        position: static;
    }
    .img_l{
        width: 100%;        
        position: static;
        margin: 0 auto;


    }
    .why_console{
        width: 50%;
        margin: 20px auto;
    }
    .img_r{
        width: 100%;
    }
    .btn{
        bottom: 10px;
        
    }
    .console_inner{
        width: 100%;
        max-width: 255px;

        padding-bottom: 50px;
    }
    /*footer*/
    .footer_item{
        width: 50%;
    }
    .payment_border{
        
    padding-top: 50px;
    border-top: 1px solid #fff;
    opacity: 0.4;
    }

    @media (max-width:550px){
        .footer_social{
            padding-left: 15px;
        }
        .social_logos{
            padding-left: 15px;
        }
        .brands_title{
            font-size: 20px;
        }
        .benefits_inner{
            flex-wrap: wrap;
            justify-content: center;
        }
        .benefits_item{
            width: 50%;
        }
        }
        .btn{
            padding: 5px 5px;
        }
        .console_item{
            padding: 5px 10px;
        }
        .header_callback{
            display: none;
        }
    }

}

